body {
  font-family: "Helvetica Neue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 300;
  background-color: #056bab;
}
#appdevgui-home-component {
    display: block;
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-header { 
    margin-top: 0; 
    margin-bottom: 30px; 
    border-bottom: 2px #999999 solid; 
    padding-bottom:5px; }
.clear { 
    clear:both; 
}
.text-center { 
    text-align: center; 
}
#appdevgui-side-component {
    display: block;
    margin: 0;
    height: 300px;
    width: 250px;
    background-color: white;
    float: left;
}

.side-menu-list a { 
    text-decoration: none; 
    color: #333333; 
    display: block; 
}
.side-menu-list div { 
    color: black!important;
    font-weight: bold!important;
}

#appdevgui-installer { 
    margin: 0 auto; 
    width: 300px; 
    text-align: center;
    height: 300px;
}
#installer-input {
    border:1px solid #333333;
}

#appdevgui-language { 
    margin: 5px auto; 
    width: 300px; 
    text-align: center; 
    height:203px; 
}
.language-label { 
    margin: 0 0 30px 0; 
    font-size: 24px; 
    font-weight: bold; 
    color:#666666; 
} 
.profile-radio {
    margin-top: 0px!important;
}
/*Shared CSS*/

.component {
    display: block;
    margin: 0;
    width: 300px;
    background-color: white;
    height: 300px;
    float: left;
}
.hidden {
    display: none;
}
.view-form {
    border: none;
}
.next-btn { 
    margin-top: 20px; 
    position: absolute!important;
    bottom: 20px;
    right: 40px;
}
.back-btn { 
    margin-top: 20px; 
    position: absolute!important;
    bottom: 20px;
    left: 40px;
}
.verifyreq-input label {
    color: #666666!important;
}
.verifyreq-input input {
    background-color: white!important;
}